name: Docker Workflow

on: 
  pull_request:
    types:
      - edited
      - opened
      - reopened

    branches:
      - main
      - master
      - dev

jobs: 
  validate:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    
    - name: Validate Dockerfile with dockerfile-validator
      uses: ghe-actions/dockerfile-validator@12ed0b63096a928bd3db6fc47d482b6f462ab9c6
      with:
        dockerfile: 'Dockerfile'
        lint: 'dockerlint'
    
## Trivy is NOT IRAP approved, do not use.
##  build:
##    name: Build and Scan Docker image
##    runs-on: ubuntu-latest
##    steps: 
##    - name: Checkout repository
##      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
##
##    - name: Build Docker image from Dockerfile
##      run: docker build -t ${{ github.event.repository.name }}:${{ github.sha }} .
##
##    - name: Run Trivy scanner against image
##      uses: aquasecurity/trivy-action@dc5a429b52fcf669ce959baa2c2dd26090d2a6c4
##      with:
##        scan-type: 'image'
##        image-ref: '${{ github.event.repository.name }}:${{ github.sha }}'
##        format: 'sarif'
##        output: 'trivy-results.sarif'
##        exit-code: '1'
##        ignore-unfixed: true
##        vuln-type: 'os,library'
##        severity: 'CRITICAL,HIGH,MEDIUM'
##        scanners: 'vuln,secret'
##        version: 'v0.64.1'
##    
##    - name: Upload Trivy scan results to GitHub Security tab
##      uses: github/codeql-action/upload-sarif@181d5eefc20863364f96762470ba6f862bdef56b
##      if: failure()
##      with:
##        sarif_file: 'trivy-results.sarif'