name: Language Agnostic Workflow

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened

    branches:
      - main
      - master
      - dev

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # Disable for now, while trufflehog is going through IRAP
      # - name: Run TruffleHog scan
      #   run: |
      #     docker run --rm -v ${{ github.workspace }}:/repo \
      #       trufflesecurity/trufflehog:3.8.6 \
      #       git file:///repo \
      #       --since-commit main \
      #       --branch ${{ github.head_ref }} \
      #       --github-actions \
      #       --fail
