name: Python Project Workflow

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened

    branches:
      - main
      - master
      - dev

env:
  SIGNED_OFF_MESSAGE: "Signed-off-by: DBT pre-commit check"

jobs:
  org-wide-pre-commit-check: # This should be in the language-agnostic once pre-commit has been rolled out across all repos
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout current repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check if org-wide pre-commit hook ran before push
        run: |
          git log ${{ github.event.pull_request.head.sha }} --format=%B -1 | git interpret-trailers --parse | grep '${{ env.SIGNED_OFF_MESSAGE }}'
        continue-on-error: true
