name: Python Project Workflow

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened

    branches:
      - main
      - master
      - dev

env:
  SIGNED_OFF_MESSAGE: "Signed-off-by: DBT pre-commit check"

jobs:
  org-wide-pre-commit-check: # This should be in the language-agnostic once pre-commit has been rolled out across all repos
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check if org-wide pre-commit hook ran before push
        run: |
          git log ${{ github.event.pull_request.head.sha }} --format=%B -1 | git interpret-trailers --parse | grep '${{ env.SIGNED_OFF_MESSAGE }}'

  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Lint with Ruff
        uses: astral-sh/ruff-action@0c50076f12c38c3d0115b7b519b54a91cb9cf0ad
        with:
          version: "0.12.3"

  bandit:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Perform Bandit analysis
        uses: PyCQA/bandit-action@8a1b30610f61f3f792fe7556e888c9d7dffa52de
